/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

body {
    margin:0;
}
h2{
    font-weight:normal;
    text-align:center;
    color: rgb(112, 112, 112);
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
    font: rgb(112, 112, 112);
}
